/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* base */

:root {
  --root-height: 100vh;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  width: 100vw;
  height: var(--root-height);
  background-color: black;
}

.awsappsync {
  width: 100%;
  height: 100%;
}

.awsappsync--rehydrating {
  display: none;
}

button:focus {
  outline: none;
}

/* utility classes */

.box-decoration-break-clone {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.touch-none {
  touch-action: none;
}
